body {
  background-color: firebrick;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%;
}

img {
  height: 300px;
  width: 300px;
}
.round{
  border-radius: 50%
}

h1{
  color: forestgreen;
}

h3{
  color: forestgreen;
}
